.Header {
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 80px;
}

.Header h1 {
  font-size: 3.8em;
  margin-left: 200px;
  flex-basis: auto;
}

.Header img {
  height: 75px;
  width: auto;
  padding: 20px 130px;
  flex-basis: auto;
}
