.Tree {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 99vh;
  width: auto;
  overflow: hidden;
  z-index: -1;
}

.Tree img {
  position: relative;
  right: -50%;
  bottom: -8px;
  height: 100%;
  width: auto;
}